transformers==4.46.0
datasets==2.21.0
evaluate==0.4.2
sentencepiece==0.2.0
rouge-score==0.1.2
bert-score==0.3.13
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.5.1
nltk==3.8.1
spacy==3.7.2
torch==2.3.0
streamlit==1.40.0
huggingface_hub
